<a href="https://colab.research.google.com/github/lanyu0322/phd_semester1/blob/master/read_multi_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import time
import statistics
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

# -- install geopandas
try:
  import geopandas as gp
except:
  !pip install geopandas

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
path = r'drive/My Drive/lwir/data/nycdot/counts_wd_cam'
all_files = glob.glob(path + "/*.feather")

li = []

for filename in all_files:
    df = pd.read_feather(filename)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

print(frame)

                      date     count
0      2017-06-28 00:00:00  0.250000
1      2017-06-28 00:15:00  0.181818
2      2017-06-28 00:30:00  0.000000
3      2017-06-28 00:45:00  0.181818
4      2017-06-28 01:00:00  0.083333
...                    ...       ...
466843 2017-09-11 22:45:00  2.000000
466844 2017-09-11 23:00:00  2.000000
466845 2017-09-11 23:15:00  2.000000
466846 2017-09-11 23:30:00  2.000000
466847 2017-09-11 23:45:00  2.000000

[466848 rows x 2 columns]

In [35]:
frame

                      date     count
0      2017-06-28 00:00:00  0.250000
1      2017-06-28 00:15:00  0.181818
2      2017-06-28 00:30:00  0.000000
3      2017-06-28 00:45:00  0.181818
4      2017-06-28 01:00:00  0.083333
...                    ...       ...
466843 2017-09-11 22:45:00  2.000000
466844 2017-09-11 23:00:00  2.000000
466845 2017-09-11 23:15:00  2.000000
466846 2017-09-11 23:30:00  2.000000
466847 2017-09-11 23:45:00  2.000000

[466848 rows x 2 columns]