<a href="https://colab.research.google.com/github/lanyu0322/phd_semester1/blob/master/scratch_ggd_120519_by_Professor_Dobler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
import glob
import numpy as np
import pandas as pd

In [0]:
spath = os.path.join("drive", "My Drive", "lwir", "data", "nycdot", 
                     "counts_wd_cam", "counts_wd_*.feather")

In [0]:
flist = sorted(glob.glob(spath))

In [0]:
wds = [pd.read_feather(i) for i in flist[:10]]

In [0]:
flist[:10]

['drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0163.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0165.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0166.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0168.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0169.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0170.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0171.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0172.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0173.feather',
 'drive/My Drive/lwir/data/nycdot/counts_wd_cam/counts_wd_0175.feather']

In [0]:
wd = pd.read_feather(flist[2])
wd["day"] = wd["date"].dt.date
wd["time"] = wd["date"].dt.time

In [0]:
cvals = [i[1]["count"].values for i in wd.groupby("day")]

In [0]:
for ii, cval in enumerate(cvals):
  print(ii, np.isnan(cval).sum())

0 0
1 1
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 2
16 2
17 0
18 0
19 0
20 0
21 0
22 0
23 0
24 0
25 0
26 0
27 0
28 0
29 0
30 0

In [0]:
grs = [i[1] for i in wd.groupby("day")]

In [0]:
pd.set_option('display.max_rows', None)

In [0]:
grs[15]["count"] = 0.5 * (grs[15]["count"].fillna(method="bfill") + grs[15]["count"].fillna(method="ffill"))

In [0]:
grs[15]

                    date     count         day      time
1440 2017-07-26 00:00:00  0.272727  2017-07-26  00:00:00
1441 2017-07-26 00:15:00  0.083333  2017-07-26  00:15:00
1442 2017-07-26 00:30:00  0.000000  2017-07-26  00:30:00
1443 2017-07-26 00:45:00  0.333333  2017-07-26  00:45:00
1444 2017-07-26 01:00:00  0.166667  2017-07-26  01:00:00
1445 2017-07-26 01:15:00  0.363636  2017-07-26  01:15:00
1446 2017-07-26 01:30:00  0.500000  2017-07-26  01:30:00
1447 2017-07-26 01:45:00  0.363636  2017-07-26  01:45:00
1448 2017-07-26 02:00:00  0.083333  2017-07-26  02:00:00
1449 2017-07-26 02:15:00  0.090909  2017-07-26  02:15:00
1450 2017-07-26 02:30:00  0.083333  2017-07-26  02:30:00
1451 2017-07-26 02:45:00  0.090909  2017-07-26  02:45:00
1452 2017-07-26 03:00:00  0.000000  2017-07-26  03:00:00
1453 2017-07-26 03:15:00  0.090909  2017-07-26  03:15:00
1454 2017-07-26 03:30:00  0.000000  2017-07-26  03:30:00
1455 2017-07-26 03:45:00  0.000000  2017-07-26  03:45:00
1456 2017-07-26 04:00:00  0.083333  2017-07-26  04:00:00
1457 2017-07-26 04:15:00  0.090909  2017-07-26  04:15:00
1458 2017-07-26 04:30:00  0.000000  2017-07-26  04:30:00
1459 2017-07-26 04:45:00  0.083333  2017-07-26  04:45:00
1460 2017-07-26 05:00:00  0.000000  2017-07-26  05:00:00
1461 2017-07-26 05:15:00  0.083333  2017-07-26  05:15:00
1462 2017-07-26 05:30:00  0.000000  2017-07-26  05:30:00
1463 2017-07-26 05:45:00  0.166667  2017-07-26  05:45:00
1464 2017-07-26 06:00:00  0.363636  2017-07-26  06:00:00
1465 2017-07-26 06:15:00  0.333333  2017-07-26  06:15:00
1466 2017-07-26 06:30:00  0.454545  2017-07-26  06:30:00
1467 2017-07-26 06:45:00  0.750000  2017-07-26  06:45:00
1468 2017-07-26 07:00:00  0.454545  2017-07-26  07:00:00
1469 2017-07-26 07:15:00  0.500000  2017-07-26  07:15:00
1470 2017-07-26 07:30:00  0.454545  2017-07-26  07:30:00
1471 2017-07-26 07:45:00  0.727273  2017-07-26  07:45:00
1472 2017-07-26 08:00:00  1.583333  2017-07-26  08:00:00
1473 2017-07-26 08:15:00  1.000000  2017-07-26  08:15:00
1474 2017-07-26 08:30:00  1.181818  2017-07-26  08:30:00
1475 2017-07-26 08:45:00  1.166667  2017-07-26  08:45:00
1476 2017-07-26 09:00:00  1.090909  2017-07-26  09:00:00
1477 2017-07-26 09:15:00  0.818182  2017-07-26  09:15:00
1478 2017-07-26 09:30:00  1.090909  2017-07-26  09:30:00
1479 2017-07-26 09:45:00  0.666667  2017-07-26  09:45:00
1480 2017-07-26 10:00:00  0.363636  2017-07-26  10:00:00
1481 2017-07-26 10:15:00  0.727273  2017-07-26  10:15:00
1482 2017-07-26 10:30:00  0.818182  2017-07-26  10:30:00
1483 2017-07-26 10:45:00  1.090909  2017-07-26  10:45:00
1484 2017-07-26 11:00:00  2.166667  2017-07-26  11:00:00
1485 2017-07-26 11:15:00  1.272727  2017-07-26  11:15:00
1486 2017-07-26 11:30:00  1.000000  2017-07-26  11:30:00
1487 2017-07-26 11:45:00  1.363636  2017-07-26  11:45:00
1488 2017-07-26 12:00:00  1.363636  2017-07-26  12:00:00
1489 2017-07-26 12:15:00  1.181818  2017-07-26  12:15:00
1490 2017-07-26 12:30:00  0.636364  2017-07-26  12:30:00
1491 2017-07-26 12:45:00  1.583333  2017-07-26  12:45:00
1492 2017-07-26 13:00:00  1.363636  2017-07-26  13:00:00
1493 2017-07-26 13:15:00  1.000000  2017-07-26  13:15:00
1494 2017-07-26 13:30:00  1.272727  2017-07-26  13:30:00
1495 2017-07-26 13:45:00  1.090909  2017-07-26  13:45:00
1496 2017-07-26 14:00:00  2.500000  2017-07-26  14:00:00
1497 2017-07-26 14:15:00  1.583333  2017-07-26  14:15:00
1498 2017-07-26 14:30:00  1.583333  2017-07-26  14:30:00
1499 2017-07-26 14:45:00  0.666667  2017-07-26  14:45:00
1500 2017-07-26 15:00:00  0.363636  2017-07-26  15:00:00
1501 2017-07-26 15:15:00  0.600000  2017-07-26  15:15:00
1502 2017-07-26 15:30:00  0.636364  2017-07-26  15:30:00
1503 2017-07-26 15:45:00  1.181818  2017-07-26  15:45:00
1504 2017-07-26 16:00:00  0.700000  2017-07-26  16:00:00
1505 2017-07-26 16:15:00  1.090909  2017-07-26  16:15:00
1506 2017-07-26 16:30:00  1.090909  2017-07-26  16:30:00
1507 2017-07-26 16:45:00  1.000000  2017-07-26  16:45:00
1508 2017-07-26 17:00:00  1.666667  2017-07-26  17:00:00
1509 2017-07-26 17:15:00  1.333333  2017-07-26  17:15:00
1510 2017-07-26 17:30:00  1.272727  2017-07-26  17:30:00
1511 2017-07-26 17:45:00  1.000000  2017-07-26  17:45:00
1512 2017-07-26 18:00:00  1.363636  2017-07-26  18:00:00
1513 2017-07-26 18:15:00  1.090909  2017-07-26  18:15:00
1514 2017-07-26 18:30:00  1.000000  2017-07-26  18:30:00
1515 2017-07-26 18:45:00  1.181818  2017-07-26  18:45:00
1516 2017-07-26 19:00:00  0.666667  2017-07-26  19:00:00
1517 2017-07-26 19:15:00  3.000000  2017-07-26  19:15:00
1518 2017-07-26 19:30:00  0.727273  2017-07-26  19:30:00
1519 2017-07-26 19:45:00  1.181818  2017-07-26  19:45:00
1520 2017-07-26 20:00:00  1.454545  2017-07-26  20:00:00
1521 2017-07-26 20:15:00  0.727273  2017-07-26  20:15:00
1522 2017-07-26 20:30:00  1.363636  2017-07-26  20:30:00
1523 2017-07-26 20:45:00  0.500000  2017-07-26  20:45:00
1524 2017-07-26 21:00:00  0.545455  2017-07-26  21:00:00
1525 2017-07-26 21:15:00  0.727273  2017-07-26  21:15:00
1526 2017-07-26 21:30:00  0.727273  2017-07-26  21:30:00
1527 2017-07-26 21:45:00  1.090909  2017-07-26  21:45:00
1528 2017-07-26 22:00:00  0.363636  2017-07-26  22:00:00
1529 2017-07-26 22:15:00  0.400000  2017-07-26  22:15:00
1530 2017-07-26 22:30:00  0.454545  2017-07-26  22:30:00
1531 2017-07-26 22:45:00  0.818182  2017-07-26  22:45:00
1532 2017-07-26 23:00:00  0.800000  2017-07-26  23:00:00
1533 2017-07-26 23:15:00  0.636364  2017-07-26  23:15:00
1534 2017-07-26 23:30:00  0.363636  2017-07-26  23:30:00
1535 2017-07-26 23:45:00  0.090909  2017-07-26  23:45:00